[2017-03-09 02:41] jmrog opened #1 "Tests are needed"
Write them.

[2017-03-10 01:52] jmrog opened #2 "Use Node's default `querystring` module instead of `getQueryString`"

[2017-03-10 02:03] jmrog opened #3 "Consider making automatic (debounced) requests as the user types"
Right now, requests for matching package names are made only after the user hits Enter to search. It might be a better experience for the user to get suggestions while typing. However, this needs to not cause lag and it also needs to not make too many requests to the server, so it's only here for consideration/investigation right now.

[2017-03-10 02:10] jmrog opened #4 "Use extensions API to update open .csproj files"
Right now, the extension writes to the `.csproj` file and, if it is currently open in the editor, leaves it to the editor itself to refresh and reflect the changes. This seems to happen sometimes, but not other times (sometimes the editor does not reflect the file changes). It is probably more correct, and also more reliable, to use some aspect of the vscode `workspace` API to either apply edits o

[2017-03-10 02:11] jmrog commented on #4
Note this bit from the API documentation:

[code]

Marking as a bug due to the final clause there.

[2017-03-10 02:12] #2 closed

[2017-03-10 02:48] jmrog commented on #4
Actually, there appears to be no method provided in the VS Code extensions API to refresh an open file. See the issue here: https://github.com/Microsoft/vscode/issues/7532

Removing "bug" label for this reason.

[2017-03-10 03:21] jmrog commented on #4
It also appears to turn out that the editor is supposed to refresh (after a small delay) in response to filesystem changes. Apparently there are a few cases where it does not, and these are bugs. A few such cases are mentioned here: https://github.com/Microsoft/vscode/issues/22266

Marking as blocked for now; will revisit later.

[2017-03-10 03:40] jmrog commented on #3
Appears to be impossible. VS Code doesn't seem to trigger relevant input events on the search input; it only provides the string contents of the input when the user hits Enter.

[2017-03-10 03:40] #3 closed

[2017-03-11 19:12] CarlosAzocar opened #5 "At least one <Package Reference> tag"
It seems that if there is not at least one **<PackageReference></ PackageReference>** tag does not install the package.

![2017-03-11 3](https://cloud.githubusercontent.com/assets/18235355/23826171/01a8f766-066d-11e7-82ce-b98265cf640a.png)
![2017-03-11 4](https://cloud.githubusercontent.com/assets/18235355/23826170/00f9a1a8-066d-11e7-98a2-045f25a3b217.png)

[2017-03-11 21:35] jmrog commented on #5
Good catch! I'll fix this issue shortly. Thanks!

[2017-03-12 04:04] jmrog commented on #5
This issue should be fixed once I merge d551d43 into master and release. I just want to write tests first.

[2017-03-12 09:38] akontsevich opened #6 "Fialed to install a package"
Was unable to install `Microsoft.AspNetCore.Server.Kestrel` package via Your vscode-nuget-package-manager - it did not find it, forced to use terminal:
`# dotnet add package Microsoft.AspNetCore.Server.Kestrel `
which works successfully.

[2017-03-12 16:48] jmrog commented on #6
@akontsevich Thanks for the report. Do you know whether there are specific steps I can take to reproduce this issue? I just tried to install `Microsoft.AspNetCore.Server.Kestrel` using the plugin on my own machine and it worked fine. (Did you already have some dependencies installed? There is currently an open issue (#5) where the plugin fails to install if you don't have any package references in

[2017-03-12 16:52] jmrog commented on #6
Here is an example of it working fine for me:

![working example](https://media.giphy.com/media/l0Iyg7b8FguEU4ojC/giphy.gif)

[2017-03-12 17:09] akontsevich commented on #6
Yes, works this way for me too, thanks. Thought auto-complete show me while typing.

[2017-03-12 17:09] #6 closed

[2017-03-12 17:46] jmrog commented on #6
Ah, gotcha. Yeah, that would be very nice, but it unfortunately isn't possible, as far as I know, given the way that VS Code extensions work (the search box API only provides data once the user actually hits Enter (or cancels)).

[2017-03-12 17:48] jmrog opened #7 "TODO: Add more automation for building/testing"
Right now, the testing process is clunky and needs to be done with manual intervention (e.g., generating JSON mocks from XML mocks, moving files from one directory to another, etc.). It would be best for this to be automated.

[2017-03-12 17:52] #5 closed

[2017-03-12 18:12] jmrog commented on #5
Should be all set. Let me know if the issue persists (or you find new ones)!

[2017-03-13 14:27] CarlosAzocar opened #9 "Enhancement: Dont remove comments in csproj"
Dont delete comments in csproj after installing package

[2017-03-13 14:41] jmrog commented on #9
Thanks. This is another good suggestion. The current behavior is a result of the fact that, for whatever reason, the XML parser that this extension uses, 'xml2js', strips out comment nodes. There is an [open PR](https://github.com/Leonidas-from-XIV/node-xml2js/pull/44) on xml2js from 2012 that addresses this, but it looks like there hasn't been any progress made since then. Unfortunately, this mea

[2017-03-13 14:42] jmrog commented on #9
In the meantime, I'll add the fact that comments get stripped to the "Known Issues" for this extension.

[2017-03-14 17:25] arexsutton opened #10 "Multiple csproj files / sln file"
So far it seems this is the only nuget package manager that works with `csproj`s, and it works great. Though honestly I didn't give `pakit` the time of day because of all the files it wrote for no reason.

This project doesn't seem to support multiple `csproj`s or `sln` files. It seems like I just get `Cannot read the file at {{workspaceRoot}}/{{directoryName}}.csproj` whenever vscode is not scope

[2017-03-15 11:29] goofballLogic opened #11 "add-package.gif isn't an add"
add-package.gif shows removing a package. I can't work out how to add one.

[2017-03-16 02:10] jmrog commented on #10
This is a good idea! Thanks for the suggestion. I'll look into implementing it as soon as I have time (PRs are also welcome)!

[2017-03-16 02:18] #11 closed

[2017-03-16 02:19] jmrog commented on #11
Thanks for bringing that to my attention. Not sure how it happened, but I've corrected it.

[2017-03-18 18:00] pechovic opened #12 "It doesn't work if the csproj file isn't in the root directory"
VS Code Version 1.10.2 (1.10.2)
OS: MacOS Sierra 10.12.3

If you have a vscode workspace with multiple projects separated in additional subdirectories than this plugin fails to load the csproj file. It says, it can't find the csproj file and it looks for the csproj file in the root directory.

[2017-03-18 19:53] jmrog commented on #12
Right. This is one of the known issues listed in the README and is a duplicate of #10. A fix is in the works and should be released soon. Thanks!

Closing as a duplicate.

[2017-03-18 19:53] #12 closed

[2017-03-18 20:06] pechovic commented on #12
Hi, sorry but it is not listed in the README file.

[2017-03-18 20:53] jmrog commented on #12
`The extension assumes that your project's .csproj file has the same name as the directory name in which your project resides.`

In other words, the extension only works if the root directory for the project has a .csproj file in that directory with the same name as that directory. I suppose this could be clearer, so I'll work on that. Sorry for any confusion.

[2017-03-18 21:18] pechovic commented on #12
Hi, I appreciate your work and the fact that you are doing this for free. I know you know what the issue is. This is just to be clear that I am reading readme files.

Given the following file system structure:

/-
 |-MyProject (vscode workspace root dir)
      | - MyProject (dir)
      |       | - MyProject.csproj (file)
      | - MyProject.Test (dir)

Now, the csproj file has the same name as the

[2017-03-18 22:09] jmrog commented on #12
Sure, no problem. I didn't mean anything by it (I was replying from my cell phone and just wanted to note that I'm aware of the issue); sorry if it came across as implying something more!

What the extension currently works with is a file system structure like this:

/-
|-MyProject
| -MyProject.csproj
| -SomeOtherDir
| -SomeOtherFile.cs

I now have a working version that seems to handle nested .cs

[2017-03-19 07:39] pechovic commented on #12
Thank you! I will get and test the new version once you release it ;) Looking forward to it!

[2017-03-19 13:52] jmrog commented on #10
@arexsutton I now have a version of this extension ready that should support multiple `.csproj` files. It should find any `.csproj` files anywhere inside of your workspace's root directory; if it finds only one, it will just use that one, but if it finds multiple, it will ask you which one to use. If you are interested in trying this version out and letting me know how it works for you, that would

[2017-03-19 13:54] jmrog commented on #12
@pechovic I now have the version of this extension ready that should support multiple `.csproj` files. It should find any `.csproj` files anywhere inside of your workspace's root directory; if it finds only one, it will just use that one, but if it finds multiple, it will ask you which one to use. If you are interested in trying this version out and letting me know how it works for you _before_ I

[2017-03-19 21:36] pechovic commented on #12
@jmrog I just tested it. It works ok for me. Thank you!

[2017-03-19 23:13] jmrog commented on #12
Awesome, thanks for checking it out. Looking good here, too, so I'll do the formal release shortly.

[2017-03-19 23:16] jmrog commented on #10
Closed by #13.

[2017-03-19 23:16] #10 closed

[2017-03-19 23:17] jmrog commented on #7
Closed by #13.

[2017-03-19 23:17] #7 closed

[2017-03-19 23:17] jmrog commented on #1
Closed by #13.

[2017-03-19 23:17] #1 closed

[2017-03-30 18:47] derwasp opened #14 "Add support for fsproj files"
Even though paket is a standard for f# project, nuget can also be used

[2017-03-30 18:52] jmrog commented on #14
Good idea. I've never used fsproj files before, but my understanding is that their format is the same as csproj files. Is that correct?

[2017-03-30 19:06] derwasp commented on #14
@jmrog yes, it's the same msbuild format.
You can check it out `dotnet new` with `-lang f#` flag.
e.g.
`dotnet new xunit -lang f#`

[2017-04-01 19:29] #14 closed

[2017-04-01 19:52] derwasp commented on #14
Great, thank you!

[2017-04-01 20:06] jmrog commented on #14
No problem! I just released it but then rolled it back real quickly, as I spotted an unrelated bug. I'll be releasing a version with the fix in just a minute.

[2017-04-01 20:40] jmrog commented on #14
All right, released with fix now. It should work with .fsproj files in the same way as it does with .csproj files! Thanks!

[2017-04-01 20:41] jmrog opened #16 "Some promise rejections appear to be unhandled"
Try to remove a package from an empty .csproj file. The extension should notify the user that something went wrong, but instead it fails silently.

[2017-04-02 00:19] jmrog commented on #16
Appearances were deceiving; this wasn't a promise rejection being unhandled, but was, instead, a promise not being rejected when it should have been (due to a logic error).

[2017-04-02 00:22] #16 closed

[2017-04-02 17:25] jmrog opened #17 "Recursive search for project files should ignore some directories"
Unnecessarily recursing through deep or heavily-populated directories when searching for project files can cause the extension to fail (when the process takes longer than 1 second). I noticed this myself when working on a hybrid .NET/JS app; the extension unnecessarily recursed through `node_modules`. This specific issue was corrected by https://github.com/jmrog/vscode-nuget-package-manager/commit

[2017-04-26 02:09] aflorenzan opened #18 "Does not shows any result if the machine is behind a corporate proxy"
I'm trying to add a reference to a Console Project through the Nuget Package Manager extension, and every name I type on the search bar has no results.

I want to specify that I'm in a corporate network that uses a proxy server to connect to the Internet.

[2017-04-30 15:34] jmrog commented on #18
Thanks for this report, and sorry for my delay in responding (life getting in the way and all that). Just to make sure that I understand, is the issue that the extension doesn't give you any feedback to tell you that no results were found, or is the issue instead that it doesn't find any results when you are expecting that results _should_ be found?

[2017-04-30 15:39] jmrog commented on #18
If it is the latter issue, then it may be that I need to allow specifying proxy options in some way before attempting to fetch packages using `node-fetch`. As a note for myself, it looks like something along these lines would do it: https://github.com/Microsoft/react-native-windows/pull/963/files. However, I'll wait for you to confirm that this the issue _is_ in fact that packages that should be r

[2017-05-01 04:21] aflorenzan commented on #18
I guess it is both, does not give any feedback and does not find any results and it should. For example, if you search the keyword `Microsoft` it says on statusbar 'Searching NuGet...' for a while and then disappear.

_Hope [those lines](https://github.com/Microsoft/react-native-windows/pull/963/files) use the VSCode proxy settings._

[2017-05-01 17:13] jmrog commented on #18
Cool, thanks. I'll take care of this ASAP (and yes, I'll make sure the extension respects VSCode proxy settings).

[2017-05-12 23:55] jmrog commented on #18
@aflorenzan The most recent release (v1.1.3) should now use the VSCode proxy settings when they are set. Please let me know if you still have issues.

[2017-05-18 12:07] innesm opened #20 ""Could not read project.json, please try again." when adding nuget package to csproj"
When trying to add a nuget package to a csproj project (no project.json), I get this error. Should a project.json file be required if the project file is a .csproj?

[2017-05-18 13:16] jmrog commented on #20
Can you post a screenshot of the error you're seeing? As far as I know, that string doesn't exist anywhere in this repository, so I'm not sure how you're seeing it. Are you sure you're actually using my extension? There is another, older extension in the extension marketplace that does some similar stuff for project.json projects, here: https://marketplace.visualstudio.com/items?itemName=ksubedi.n

[2017-05-18 13:36] innesm commented on #20
That must be it - how embarrassing. I installed it a while ago as the recommended nuget extension. Sorry to waste your time!

[2017-05-18 13:36] #20 closed

[2017-05-18 13:37] jmrog commented on #20
@innesm Not a problem, it happens!

[2017-05-18 19:25] adragoset opened #21 "Fails to install nuget packages when behind a corporate proxy with self signed cert."
The extension will fail to download and intall a nuget package when behind a corporate proxy with a self signed cert.  Error is displayed with reason:self signed cert in certificate chain. Desired functionality should respect "http.proxyStrictSSL": false until there is a better way to make vs code respect self signed certificates.

The problem here is that i do not have a proxy set. The corporate

[2017-05-20 01:17] jmrog commented on #21
Thanks for the report. Sorry for the delay in fixing this, but there is a mismatch between the documentation for `https-proxy-agent` on npm and the documentation on GitHub (the latter actually _removes_ the bit about `secureEndpoint`). That caused a bit of confusion, though it _does_ look like the `secureEndpoint` option still exists in the code, so I've gone ahead and used it. However, I've had _

[2017-05-20 01:19] jmrog commented on #9
Marking as "help wanted" since I've had very little time to dedicate to this lately, and don't expect that to change too soon.

[2017-05-20 02:32] adragoset commented on #21
I'll gladly take care of testing this on Monday when i have access to the environment it's occurring on.

[2017-05-20 13:21] jmrog commented on #21
Awesome, thanks!

[2017-05-22 20:27] adragoset commented on #21
I verified his works when a proxy is defined. If the env is using a transparent no proxy firewall though you still have to set the system env variable ```NODE_TLS_REJECT_UNAUTHORIZED=0```. I was attempting to look into if there was a way to configure an agent without a proxy url but it does not appear to be so. It may be possible to set an option on node-fetch to ignore tls in the cases where a se

[2017-05-25 14:49] maehue opened #23 "nuget.config package sources"
Internally we use a private nuget repository - and it would be helpful if this extension could support utilizing the package sources from the nuget.config instead of  the constant https://api-v2v3search-0.nuget.org/autocomplete

[2017-05-25 14:50] jmrog commented on #23
Great idea! I'll add that ability as soon as I have some time (unless you want to PR it).

[2017-05-25 22:22] jmrog commented on #21
@adragoset Thanks for testing this. I'm glad it worked when a proxy is defined, though I'm sorry to hear that you still have to go through additional steps in your particular environment.

I'm not _quite_ ready to give up, though. The agent that this extension uses (from `node-https-proxy-agent`) passes along supplied options to Node's `tls.connect` method, which itself accepts a `rejectUnauthoriz

[2017-06-16 08:20] robvanpamel commented on #23
Are you using a default Nuget configuration at this moment? If so where is this located? We are also using a private repository. The results from this repository are not showing up due to this.

[2017-06-25 01:56] jmrog commented on #23
Just providing a quick update:

I haven't had a lot of time to look into this issue. One blocker is that I'm fairly unfamiliar with using private NuGet repositories. Based on the information I've found [here](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior) and [here](https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file), it looks like managing this ca

[2017-06-25 01:57] jmrog commented on #21
I've released v1.1.4, which was confirmed to work well enough for the particular issue here. For that reason, I'm marking this issue as closed. However, I'm going to create a separate issue to track any research/dev related to the last two comments in this thread.

[2017-06-25 01:57] #21 closed

[2017-06-25 02:00] jmrog opened #24 "Investigate Issues with Self-Signed Certificates and Transparent Proxies"
See especially [this comment](https://github.com/jmrog/vscode-nuget-package-manager/issues/21#issuecomment-304140628). It may be that this plugin should set the `rejectUnauthorized` TLS option to false when a user has set `http.proxyStrictSSL` to false.

[2017-07-01 15:13] jmrog opened #25 "Mock test methods that hit the filesystem"
Self-explanatory.

[2017-07-01 15:14] jmrog opened #26 "Clean up `Promise` code where possible"
In some cases, functions return with a large block wrapped in `new Promise((resolve, reject) => { . . . }`, when it really isn't necessary to wrap the whole block like that. This could be cleaned up.

[2017-07-02 13:54] Seefer opened #27 "Is this supposed to work for all Nuget packages?"
Trying to add **Microsoft.EntityFrameworkCore.SqlServer** and **Microsoft.EntityFrameworkCore.Tools** and this plugin seems unable to list them. Should these packages be discoverable by this extension?

[2017-07-02 16:29] jmrog commented on #27
Currently, the extension should allow you to locate and package discoverable on nuget.org (eventually, it will also allow you to specify your own package sources -- that's in progress, and is tracked in issue #23).

I verified that it does in fact discover both of the packages you mentioned. Here's an example for *Microsoft.EntityFrameworkCore.SqlServer*:

![image](https://user-images.githubuserco

[2017-07-04 13:47] jmrog commented on #27
I'm marking this as closed, given the above. Please re-open if the issue arises again. Thanks!

[2017-07-04 13:47] #27 closed

[2017-07-04 14:01] jmrog commented on #23
I've made some decent progress on this, but have now hit a bit of a blocker. This extension currently assumes that the repository exposes an HTTP(S) endpoint that can be used for searching its contents (as nuget.org does). Purely local repositories *won't* do that, and I'm not sure whether all hosted custom NuGet repositories will do that, either (or how exactly to discover the relevant endpoint f

[2017-07-12 05:58] Kampfmoehre commented on #23
We are using mostly our TeamCity Buildserver for our own packages and some Microsoft MyGet Feeds (Example <add key="AspNetCore" value="https://dotnet.myget.org/F/aspnetcore-release/api/v3/index.json" />. Especially the latter could lead to confusing results, if you take the [ASPNetCore](https://dotnet.myget.org/feed/aspnetcore-release/package/nuget/Microsoft.AspNetCore) package for example, it cur

[2017-07-28 13:06] mblataric commented on #23
Hi!

We are running our own nuget feed using Nuget.Server. We figured its better than exposing some local folder and this way it is accessible over internet as well. So I am all for http support.
As for nuget.config - this is a bit of a mistery becuse linux and macos have a global one in ~/.nuget/NuGet/nuget.config - while windows does not. Have no idea where this file is located on windows.
I gue

[2017-10-12 17:40] calirails opened #28 "Adding System.Linq or other dependencies allows you to add non-compatible versions with VSC runtime that later fails during compilation"
When using NuGet to add the System.Linq and Selenium.WebDriver, I am allowed to select different versions, including those that are not compatible with my project type. In my case I am using Visual Studio Code with C# extensions on Mac. I believe my runtime configuration is running on .Net SDK 2.0, and is not compatible with all of the listed packages. Is there a way to add filters to Nuget to onl

[2017-11-03 09:22] wparad opened #29 "Reformatted file conflicts with Visual Studio"
It seems that at least Visual Studio will automatically remove the line:
`<?xml version="1.0" encoding="UTF-8" standalone="yes"?>` added to the top of the file.

This is a problem for teams working crossplatform, it would it a great improvement to stick to the csproj standard.  [This is the best reference](https://msdn.microsoft.com/en-us/library/dd576348.aspx) that I've found.  Along with [some o

[2017-11-03 13:59] jmrog commented on #29
Thanks for this report. As it's a bug of sorts, rather than a feature request, I'll try to get to it ASAP.

[2017-11-03 17:19] wparad commented on #29
For clarification, it seems that there are some changes to line ending too, not sure if that is an OS thing, or a library thing.  Let me know if you are interested in any more details here.

[2017-11-17 17:37] ryanmendoza commented on #24
It looks like this was supposed to be fixed in 1.1.4, however I am still seeing the issue.

`Error: request to https://api-v2v3search-0.nuget.org/autocomplete?q=identityserver&prerelease=true&take=100 failed, reason: unable to get local issuer certificate`

http.proxyStrictSSL is set to false in my configuration and is honored by other plugins.

[2017-11-18 03:49] #29 closed

[2017-11-18 03:51] jmrog commented on #29
The latest commit/release should resolve issues related to adding and/or removing the XML declaration line (`<?xml version="1.0" encoding="UTF-8" standalone="yes"?>`) from files. I haven't had time yet to consider issues related to line endings, so I'll open that as a separate issue.

[2017-11-18 03:52] jmrog opened #31 "Investigate possible issues with line endings (problem for cross-platform dev)"
See comment here: https://github.com/jmrog/vscode-nuget-package-manager/issues/29#issuecomment-341770357.

[2017-11-18 03:54] jmrog commented on #26
Additionally, there are unnecessarily verbose index.ts files used just for exporting. They import first and then export, when they could simply just export directly from the files.

[2017-11-18 14:16] jmrog commented on #24
@ryanmendoza v1.1.4 included a "partial" fix for related issues. However, there was additional work I wanted to try out, mentioned in [this comment](https://github.com/jmrog/vscode-nuget-package-manager/issues/21#issuecomment-304140628). I never did get around to doing that, though, because the reporter of #21 resolved his issues and moved on. I'll see what I can do, but may want you to test an ea

[2017-11-18 15:55] #24 closed

[2017-11-18 16:01] jmrog commented on #24
@ryanmendoza I implemented the thing that I wanted to implement in the earlier comment I mentioned (at least, as far as I could remember what I wanted to do), and created a new distributable package that is available here: https://github.com/jmrog/vscode-nuget-package-manager/blob/master/dist/vscode-nuget-package-manager-1.1.6.vsix. Would you mind installing that version of the package and seeing

[2017-11-18 16:01] jmrog commented on #26
More: some of the code could use better typing.

[2017-11-28 15:44] jmrog commented on #24
I'm going to go ahead and release the latest package via the extension marketplace soon, likely some time today.

[2017-12-04 14:11] jayd33m commented on #18
Issue still occuring on latest extension.
As per VSCode proxy settings, if nothing is set it should be using env variables http and https.
I get a network timeout when attempting download a nuget package.
VSCode is working fine through company proxy which indicates the extension no good.
thanks for helping fix it, great product, saves heaps of work adding assemblies manually

[2017-12-04 14:52] jmrog commented on #18
@jayd33m Thanks for the report. Just to confirm, are you using v1.1.6 of the extension?

Either way, I wouldn't be surprised if the extension doesn't respect environment variables. I think I had assumed that the extension API (specifically, `getConfiguration`) would provide the correct fallback values, but that probably isn't right. I'll reopen this to investigate and fix.

[2017-12-04 15:04] jayd33m commented on #18
Thanks heaps.
I've managed to do it manually using nuget CLI, dotnet core cli.
Happy to test whenever ready

Cheers
Shaun

On 4 Dec 2017 10:52 pm, "Jason Rogers" <notifications@github.com> wrote:

[2017-12-06 17:52] awarrenlove commented on #23
I think the simplest option would be to move the URLs to a new configuration option. It wouldn't solve the issue of having to maintain your Nuget URLs in multiple places unfortunately, but it should be a fairly straightforward stopgap to allow private Nuget searches until a better dynamic solution is found. It also wouldn't solve the problem of Nuget servers that don't expose a URL for searching,

[2017-12-08 03:36] jmrog commented on #18
@jayd33m I haven't had much time lately to look into this issue, but I'd like to get it fixed, so I've cobbled something together rather quickly. Would you mind giving it a test and seeing whether it resolves your issue? If so, in order for you to test it, you'll need to download the package I've made here: https://github.com/jmrog/vscode-nuget-package-manager/blob/jr/18-proxy-fallback/dist/vscode

[2017-12-08 14:37] jmrog commented on #23
@awarrenlove Yeah, I agree that that is probably the best "stop gap" solution. Thanks for the input. I've done some work toward implementing the feature, but just have had so little time lately to work on this extension that I haven't completed it. Hopefully I can do that soon!

[2017-12-11 05:07] jayd33m commented on #18
Hi Justin

It may very well be working.
I'm still hitting an error though but it's now different and reports
Reason, getaddrinfo ENOTFOUND

This might be due to my environment variable containing my username and
password for proxy.
Would your changes accommodate something this?
HTTPS_PROXY = username:password@https://URL
HTTP_PROXY  = username:password@https://URL

Regards
Shaun

On 8 Dec 2017 11:

[2017-12-11 15:01] jmrog commented on #18
@jayd33m Thanks for testing. I think the extension _should_ accommodate that sort of thing. However, I also think the way you specified your username and password isn't correct. The `username:password` clause should be _after_ `https://`, so it should look like this:

`https://username:password@URL`

Can you try that and then test the extension again?

[2017-12-11 20:49] awarrenlove commented on #23
Is the branch jr/alternative-nuget-sources-23 up-to-date on GitHub? If it is, I'll see what I can do to finish it out.

[2017-12-13 01:29] jmrog commented on #23
@awarrenlove It isn't, but I just now branched off of it and rebased the new branch onto master, then pushed the new branch. That branch is `jr/alternative-nuget-sources-23-rebased`. Feel free to take a look at it, but, if I remember correctly, most of the new stuff that's there was very hastily thrown together and left in a "half-way" state (e.g., there are `debugger;` statements here and there,

[2018-03-14 12:34] saviour123 opened #33 "Add Package reference missing."
I have install the vscode extension. After reload, the Add Package Reference does not show. Only add or remove packages show.

[2018-03-18 13:59] jmrog commented on #33
I'm not sure that I understand the issue here. The extension should provide you with two options: "Add Package" and "Remove Package." The Add Package option works by adding a PackageReference entry to your `.csproj` file. After the package reference is added, you'll need to restore the project's dependencies so that the package gets installed (e.g., by running `dotnet restore`). Which part of that

[2018-03-18 17:59] #33 closed

[2018-03-19 14:47] vandensd commented on #23
In need of this if this can progress any time soon.  Alternative is to run via command line as long as I have a nuget.config present to hit my private myget.

[2018-05-21 07:58] qubicaamf opened #34 "Check and update dependencies"
Currently using this amazing extension but, really miss this feature.
Maybe you can inspire to [ncu](https://github.com/tjunnone/npm-check-updates) module from Node.js .

[2018-08-04 19:59] PairedPrototype opened #35 "Only looks for .csproj in the first root folder"
I have two root folders in my workspace and I've come to find that this extension only searches for a `.csprog` file only in the first root folder.

Switching the order in which the root folders appear in the workspace seems to have solved my issue.

However, I'd like to suggest support for this. May searching all root folders and then if multiple `.csprog` files are found, prompt the user to spec

[2018-08-25 14:29] jmrog commented on #23
I'm trying to get back into this a bit. No promises, though -- between work and a 1.5 year old at home, my time has been very limited. Open to help!

[2018-08-25 16:35] jmrog commented on #4
Closing due to the fact that Microsoft/vscode#22266 is now closed. The update should now happen automatically.

[2018-08-25 16:35] #4 closed

[2018-08-28 17:13] PairedPrototype commented on #35
It does seem however that your extension is not alone on this. I've experienced the same issue with another.

Maybe I just have an abnormal directory structure. I'm used to using Visual Studio so I had it laid out as if it were a solution rather than a project.

I can adjust my workflow to suit though, it's no real issue. Feel free to close this issue, or keep it if you perhaps would like to add s

[2018-09-03 10:11] lonix1 opened #36 "Request: show outdated"
Show what's outdated without updating.
i.e. package name, current version, latest version

[2018-12-12 18:32] itjstagame commented on #24
@jmrog I'm not sure why no one else has ran in to this issue until now, but it appears this fix will not work for me.

Looking a the code it seems the proxyStrictSSL setting is fully ignored if proxy is blank.
https://github.com/jmrog/vscode-nuget-package-manager/blob/18b028ac7db869f44d877adbe240c5740747986b/src/utils/getFetchOptions.ts#L22

I'm having an issue similar to what bleggett described h

[2019-02-21 16:04] erotavlas commented on #23
Hello, What is the current status of this?  Was needing to resolve package from local nuget server in a C# solution.  Was unable to determine which NuGet config this extension is loading.

[2019-04-13 15:32] ozanerturk commented on #23
@jmrog Hello, I actually working on that problem rigth now. I have some idea to implement this feature. Once i finished  development i will share it on my branch
https://github.com/ozanerturk/vscode-nuget-package-manager
Maybe we could merge it after.
I am planning to do:
-- resolve nuget.config from local source (first project folder afterr appdata)
-- consume both json and xml source
-- use part

[2019-04-13 21:17] jmrog commented on #23
Awesome! I'd be happy for this to happen!

[2019-04-14 20:46] ozanerturk commented on #23
I need your advise on that @jmrog , what if new usage flow would be  something like below:
1-type down shourtcut for extension
2-show avalible nuget sources(if it is possible skip for single source, go 4 )
3-select source
4-query spesific source and list package names
5- verison selection
6- write on *.[cf]sproj

I tried to collect all sources and fetch from all of them but it cause lots of dirty

[2019-04-17 06:54] ozanerturk commented on #23
It seems you are busy. I will continue my development with above explanation. Once you notice please let me know :)

[2019-04-27 15:55] BigBigPlant opened #37 "vscode can't install"
![1](https://user-images.githubusercontent.com/37919956/56851985-dd6ccb80-6947-11e9-8aae-2d635668b447.PNG)
 Why?

[2019-05-10 01:48] liuziyuan commented on #37
I also has this issue at Ubuntu 18.04,and I used .net core v2.2

[2019-05-10 02:34] jmrog commented on #37
Thanks for these reports. I'll try to investigate this very soon.

[2019-05-20 03:25] CareyYang opened #38 "NuGet Add Pacakge Error"
the error happened When I add IdentityServer4 package, the error massage is "version information could not be retrieved from Nuget pacakge repository". the first,enter ctrl+shift+p
![image](https://user-images.githubusercontent.com/19970476/57994769-4f70a480-7af1-11e9-912e-9919b936ae93.png)
the second, I select the first, Add package，
the third,I enter "IdentityServer4",
the fourth, I select "Iden

[2019-05-21 12:52] 786744873 commented on #38
I have meet the same question,and try many time,but I still can't resolve this problem untill now.
Please someone can help us,please

[2019-05-21 20:30] jmrog commented on #38
I've tried to reproduce this many times, but I never have a problem. Can one of you please confirm whether this is still happening for you? Can you perhaps provide me with more details, such as VSCode version, operating system, and any other information you think might be relevant (e.g., whether you are behind a proxy of some kind)?

[2019-05-21 20:31] jmrog commented on #37
I've tried to reproduce this many times, but I never have a problem. Can one of you please confirm whether this is still happening for you? Can you perhaps provide me with more details, such as VSCode version, operating system, and any other information you think might be relevant (e.g., whether you are behind a proxy of some kind)?

[2019-05-21 20:32] jmrog commented on #38
Can you also mention where in the world you are located geographically? I'm starting to suspect that there could be an issue in a particular region.

[2019-05-21 20:32] jmrog commented on #37
Can you also mention where in the world you are located geographically? I'm starting to suspect that there could be an issue in a particular region.

[2019-05-22 01:21] 786744873 commented on #38
Thank you for your replay,sir.
I am a Chinese Developer.From last week until now,I find many developer have the same thing happend on me.such as :[https://tieba.baidu.com/p/6112114402?red_tag=1008495548](https://tieba.baidu.com/p/6112114402?red_tag=1008495548)

I take some screenshot of this problem [https://send.firefox.com/download/f4b4890ebb060194/#_Ip9_bbHRa2FcyzFzkeFpg](https://send.firefox.c

[2019-05-22 13:28] CareyYang commented on #38
Thank you for your replay. I am a Chinese Developer.I'm in China now.I try it again after your replay. but the same thing happened.the screenshot of the my environment is:
![image](https://user-images.githubusercontent.com/19970476/58177697-7092ea00-7cd7-11e9-9116-d6dee176578f.png)
My OS is the lasted version of windows 10 v1809.
I can get the same package any another way.so I think it's not the p

[2019-05-22 13:59] jmrog commented on #38
Thank you both for following up. I still suspect that this is a network problem, for a couple of reasons:

1. So far, all of the reports about this issue have come from users in China,
2. Users in China have had problems accessing NuGet package data in the past, and
3. I can't reproduce the issue at all (I'm not in China).

As a (partial) test, are you able to get to this URL from China: https://a

[2019-05-22 14:08] CareyYang commented on #38
I am able to get to the Url in China,the screenshot is:
![image](https://user-images.githubusercontent.com/19970476/58181317-28c39100-7cde-11e9-8685-5f7292439406.png)

[2019-05-22 14:11] jmrog commented on #38
I see. Notice that it redirected you to `azure.cn`. Apparently `azure.cn` does not have the correct information. What you should be seeing is this:

![image](https://user-images.githubusercontent.com/8409748/58181532-f84a0b80-7c79-11e9-92be-f44da528c034.png)

So, there appears to be a problem with the redirect or the server to which it is redirecting for users in China.

[2019-05-22 14:13] jmrog commented on #37
Duplicate of #38. The issue appears to be caused by the way certain servers are configured for users in China. Please follow-up there. (Closing this issue in favor of that one.)

[2019-05-22 14:13] #37 closed

[2019-05-22 14:25] CareyYang commented on #38
Thank you for your replay again,But I haven't found the way to return the version information in China yet,if I get it,I tell you.

[2019-05-22 14:56] CareyYang commented on #38
I found the method just now. the Url replace "https://api.nuget.org/v3-flatcontainer/IdentityServer4/index.json" whth "https://nuget.cdn.azure.cn/v3-flatcontainer/identityserver4/index.json  ".All words are lowercase.this URL that is accessible by Chinese users and that returns the version information shown in your screenshot:
![image](https://user-images.githubusercontent.com/19970476/58184924-a0

[2019-05-22 14:59] jmrog commented on #38
Nice find. Thanks. I would say this is a bug in the server that is redirecting you to `azure.cn`. URL paths are case-sensitive, so a redirect should not change the case of anything in a URL path.

[2019-06-17 10:00] brainydevs commented on #35
I can confirm this issue, Reordering folders in workspace is a hassle.

[2019-07-07 17:20] tourdedave opened #39 "Unable to install packages"
__Environment Details__

Platform: `macOS Mojave 10.14.5`
VS Code version: `1.36.0` (installed with Homebrew)
Other extensions installed/enabled: `None`

__Current Behavior__

Unable to install. Getting the following error when installing *any* NuGet package.

<img width="458" alt="Screen Shot 2019-07-07 at 20 15 16" src="https://user-images.githubusercontent.com/457137/60771668-ffc35800-a0f3-11e9

[2019-07-21 06:28] likai3615560 commented on #38
how to fix this bug

[2019-07-22 03:43] likai3615560 commented on #38
use  vpn succeed

[2019-07-23 07:03] maxpowercode commented on #38
if key word use lowercase letter ,the url callback success info,like this:
https://nuget.cdn.azure.cn/v3-flatcontainer/identityserver4/index.json

[2019-07-25 15:32] jmrog commented on #39
@tourdedave I haven't been able to reproduce this. Is it still happening for you?

[2019-08-01 00:09] sevenNightL commented on #38
vscood for Mac  have the problem in China

[2019-08-21 06:46] jscjs commented on #38
I use the command code “dotnet add package IdentityServer4 --version 2.5.2” to install the package，and it works well.

[2019-08-26 16:39] chrishylton opened #40 "NPM error trying to list packages"
Getting an error just trying to get a list of packages.  Lastest version of VS Code and lastest version of NPM.  For example, I simply Ctrl-Shift-P, Nuget Package Manager Add Package, type in 'Dapper' as a test, and the error below occurs.

This doesn't seem to be network related.  I can drop that URL into Chrome and I get the list back just fine.  Coworker has no issues.  Only different we can se

[2019-08-26 18:22] #40 closed, assigned to nobody

[2019-08-28 05:53] JOJOJOFran opened #41 "Versioning information could not be retrieved from the NuGet package repository. Please try again later"

[2019-08-29 06:14] xBoo commented on #38
This problem still exists, anyone have idea to solve it?

[2019-10-21 08:49] kidbabic opened #42 "The NuGet package repository returned a bad response."
Cannot add any package - always get this message

[2019-10-22 02:17] sevenNightL commented on #42
me too

[2019-10-22 02:20] sevenNightL commented on #42
![6NJI_ZZULYSC{@6K2OHK9C4](https://user-images.githubusercontent.com/27542146/67255620-935b4180-f4b5-11e9-87c1-a8d9b547c9d1.png)

[2019-10-22 05:45] sevenNightL commented on #42
request to https://api-v2v3search-0.nuget.org/autocomplete?q=Microsoft.AspNetCore.Identity.UI&prerelease=true&take=100 failed, reason: Client network socket disconnected before secure TLS connection was established
The "path" argument must be one of type string, Buffer, or URL. Received type undefined

[2019-11-13 07:39] athinboy commented on #38
@xBoo
here:
https://www.cnblogs.com/mingjing/p/11579034.html

[2019-11-13 07:43] athinboy commented on #38
@jmrog

![image](https://user-images.githubusercontent.com/10301079/68742972-5a356d80-062c-11ea-9f15-65bfbe9d90e3.png)

[2019-12-13 09:37] MarekLani opened #44 "Adding Custom nuget server"
Hi, I was trying to figure out how to add custom nuget server, but did not manage to. Is it possible?

[2020-01-01 16:56] algonas commented on #44
I have a similar but opposite problem, i configured additional nuget sources on other projects (using Visual Studio 2019), and the extension tries to refresh packages that are on the main microsoft repo by pulling them from one of the custom (private) repos. Disabling the custom repositories fixes my issue, I was just wondering if there's a way to specify this, to avoid fiddling with them every ti

[2020-03-03 20:10] arcotek-ltd opened #45 "Cannot find any .csproj or .fsproj file for your project!"
I expect this is my lack of experience, however, I'm trying to install a package (`Microsoft.Windows.Compatibility`). The extension finds the package, and I can select the version. At this point, a little error message pops up in the bottom right:

![image](https://user-images.githubusercontent.com/26305145/75815115-c29a8d00-5d8a-11ea-9b66-04c377ec0627.png)

Which fully reads: `Cannot find any .cs

[2020-07-07 12:56] LakhveerChahal opened #46 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-nuget-package-manager`
- Extension Version: `1.1.6`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.46.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Lakhveer Singh\jmrog.vscode-nuget-package-manager-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/

[2020-07-07 12:59] LakhveerChahal commented on #46
[jmrog.vscode-nuget-package-manager-unresponsive.cpuprofile.txt](https://github.com/jmrog/vscode-nuget-package-manager/files/4884961/jmrog.vscode-nuget-package-manager-unresponsive.cpuprofile.txt)

[2020-07-17 08:56] kuskmen commented on #23
Sorry, to bother you guys, but have you got any update on this or any workaround?

Regards,
Kuskmen

[2020-07-19 12:42] ozanerturk commented on #23
It is a kinda old discussion. Honestly, while I was developing this functionality I realize that there is actually no need to use a package manager extension at all. Just like other programming language and their package managers. Whenever you need a package, search that in NuGet or any other sources then install it by CLI or type down the specific package with a version in .csproj file. For custo

[2020-10-07 14:26] aressler38 commented on #45
I have this problem too. I have a workspace with multiple project folders with Python/C++/C#/NodeJS code, but only one is a C# project. I get the same error, and I don't see any debug log output for this extension.

[2020-10-11 04:39] Tuanle207 commented on #45
If you open single .NET project in your vscode, it will be ok. But this problem happen when use open .NET project inside a workspace i think. I have no idea how to fix it.

[2020-10-21 13:07] Eashiong commented on #38
vscode for Mac have the problem in China

[2021-02-17 15:38] lucascooelho commented on #45
I had to open my .NET project in an independent vscode window to run the code and get the package install. If you are in a workspace with more folders we cant get anything installed.

[2021-03-29 19:49] sevenstreak commented on #42
Can verify that the issue still exists. I can't add any nuget packages currently. Not sure where to go from here.

[2021-04-27 15:16] martea commented on #44
adding custom nuget feed would be a great thing for this tool or atleast just try to work with the nuget.config if placed in the root directory or in any directory hierarchy. to beable to specifcy feed in the project or at computer level.

[2021-08-13 14:06] jjachowski opened #47 "Support of other feeds"
Currently this extension only searches through nuget.org gallery. When other feeds are configured in nuget.config it should search them too.

[2021-08-13 14:07] #47 closed

[2021-09-30 17:34] winzig opened #48 "Versioning information could not be retrieved from the NuGet package repository. Please try again later."
Issue Type: <b>Bug</b>

Lately in vscode I'm receiving this error message:

[code]

This happens right after I select a nuget package I would like to install through the command-P system of vscode. It seems to happen with every Nuget package I've tried, so I don't think it's a package-specific issue. Googled, but not seeing others complain about this, so figured I'd post here.

Extension version:

[2021-11-05 22:45] KyleC69 commented on #38
As of this date the case problem still exists. I am using Ubuntu 21.10 and code-insiders versions 1.63.
I can enter lowercase microsoft.extensions.hosting it returns list using pascal casing. after selecting option it returns versioning information not available. if i call the url all lower case the version information is returned.
New out of the box worker project.
GEO Location: Oregon, USA
[2021

[2021-12-29 13:49] kunlinyu commented on #48
same issue.
Extension version: v1.1.6
VS Code version: Code 1.63.2
OS version: Ubuntu 20.04.3
package need to be install:  NetTopologySuite

[2022-03-02 16:22] johndoylekbx commented on #23
@ozanerturk  Could you please provide more details + instructions on where + how to manually edit the NuGet.Config settings.  I also have this requirement.  I don't understand how NuGet can resolve our packages if it's not configured to look in our internal, private, unpublished package source url.  Apparently the full, licensed Visual Studio supports configuring more NPM package sources.  I only

[2022-03-03 07:43] ozanerturk commented on #23
Hello @johndoylekbx
The editors itself is actually not the case. I was trying to point out that .NET developers got used to have a package manager explorer in their editor. Like the Nuget package manager comes with Visual Studio built in.
But normally in any other language, you just use a cli tool to install new packages.

Nuget.config should be located in your local machine. Each time you use ``d

[2022-03-04 20:27] winzig commented on #48
I still experience this issue to this day...

[2022-03-04 20:34] winzig commented on #48
I've created a PR that I think fixes this issue: https://github.com/jmrog/vscode-nuget-package-manager/pull/49

Basically, lowercases the `selectedPackageName` in the `fetchPackageVersions` method. This is based on this stack overflow answer, which did help me resolve the issue locally: https://stackoverflow.com/a/63087568/650558

[2022-03-04 20:34] winzig commented on #48
Does @jmrog still monitor this repo?

[2022-04-15 08:58] AlFalahTaieb commented on #48
Same not working for me too ...

@winzig  any update ?

[2022-04-15 14:43] winzig commented on #48
My patch is working fine for me. My pull request hasn't been accepted however.

[2022-04-15 14:45] jmrog commented on #48
Hi everyone, and apologies to all for the delays. I do not really check or maintain this repo any longer, nor do I use the extension itself. @winzig I will approve and merge the patch, and try to get an updated version released as soon as I can.

[2022-04-23 21:05] justclint commented on #48
in the meantime, this work around is working: https://stackoverflow.com/questions/58108809/versioning-information-could-not-be-retrieved-from-the-nuget-package-repository

[code]

[2022-04-29 15:52] LPDaVinci commented on #48
thanks the toLowerCase fixes the issue. finally no manually add the packagereference :)

[2022-07-14 12:06] y0f0 commented on #48
how much more time should pass for this bug to be fixed?

[2022-09-01 00:35] MijanurAli commented on #48
Almost a year later and this issue still exists. Any chance @jmrog can get a new version pushed?